body {
    background: #6b6bf1;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px; /*espaçamento*/
    width: 500px;
    margin: auto; /*auto: faz a margem no centro automaticamente*/
    box-shadow: 5px 5px 10px #00000042; 
    /*^^ 5px desloc. lateral, 5px desloc. vertical, 10px espalhamento, black cor da sombra*/
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}